/* FONTS  */
@font-face {
    font-family: Montserrat-Bold;
    src: url(../fonts/Montserrat-Bold.otf);
}

*{
    font-family: Montserrat-Bold;
}

/* PRELOADER */
#preloader-container{
    background-color: #fff;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: fixed;
    z-index: 100000000000;
}
#preloader-container h1{
    color: #4b9cdb;
    margin-bottom: 50px;
    transition: 1s;
}
.load-3{
    margin-bottom: 25px;
}

.line {
    display: inline-block;
    margin-left: 2px;
    margin-right: 2px;
    width: 35px;
    height: 35px;
    border-radius: 15px;
    background-color: #4b9cdb;
}

.load-3 .line:nth-last-child(1) {
    animation: loadingC 0.6s 0.1s linear infinite;
}
.load-3 .line:nth-last-child(2) {
    animation: loadingC 0.6s 0.2s linear infinite;
}
.load-3 .line:nth-last-child(3) {
    animation: loadingC 0.6s 0.3s linear infinite;
}

@keyframes loadingC {
    0% {
      transform: translate(0, 0);
    }
    50% {
      transform: translate(0, 25px);
    }
    100% {
      transform: translate(0, 0);
    }
}

html{
    scroll-behavior: smooth;
}

::-webkit-scrollbar{
    width: 10px;
}
::-webkit-scrollbar-track{
    box-sizing: border-box;
    /* background-color: #888; */
    background-color: gray;
}
::-webkit-scrollbar-thumb{
    /* background-color: #444; */
    background-color: #ff4c29;
}

::selection{
    color: black;
    background-color: #ff4c29;
}


/* NAV BAR VAR  */
:root{
    --primary-color: #ff4c29;
}
/* TOP BAR VAR  */
:root{
    --topbar-BG-color: #002032;
}


body{
    overflow-y: hidden;
    margin: 0;
    padding: 0;
}

.uni-padding{
    padding: 0 7%;
}

/* NAVBAR */
nav{
    position: fixed;
    top: 0;
    background-color: rgba(000, 000, 000, 0.5);
    width: 100%;
    backdrop-filter: blur(3px);
    z-index: 88888;
}
nav ul{
    margin: 0;
    padding: 0;
    width: 100%;
    
}
nav ul li{
    display: inline-block;
    padding: 20px 10px;
}

nav ul li a{
    font-family:sans-serif;
    color: white;
    text-decoration: none;
    font-size: 15px;
}
nav ul li a:hover{
    color: var(--primary-color) !important;
    transition: 0.2s ease-in-out !important;
}

/* BORDER BOTTOM ANIMATION */
nav ul li::after{
    content: '';
    border-bottom: 2px solid var(--primary-color);
    display: block;
    position: relative;
    top: 19px;
    transform: scaleX(0);
    transition: 0.2s ease-in-out;
}
nav ul li:hover::after{
    transform: scaleX(1);
}

/* TOPBAR */
#topbar{
    background-color: var(--topbar-BG-color);
    background-attachment: fixed;
    overflow: auto;
    background-size: auto;
    position: relative;
}


#topbar-details{
    display: flex;
    height: 95vh;
    justify-content: center;
    flex-direction: column;
    float: left;
}

#topbar h1{
    display: inline-block;
    font-family:Arial, Helvetica, sans-serif;
    color: #fff;
    font-size: 80px;
    margin-top:0;
    margin-bottom: 0;
}

@keyframes blink-color {
    0% { color: #ffffff; }
    25% { color: #ffffff; }
    50% { color: #ffffff; }
    65% {color: #ffffff; }
    85%{ color: #ffffff; }
    90% { color: #ffffff; }
    92% { color: #ffffff; }
    90% { color: var(--primary-color); }
    95% { color: #ffffff; }
    97% { color: var(--primary-color); }
    100% { color: #ffffff; }
}

#topbar h1::after{
    content: 'Sain';
    padding-left: 13px;
    color: #ffffff;
    animation-name: blink-color;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

#topbar p{
    /* border: 1px solid #fff; */
    /* display: inline-block; */
    margin-bottom: 0;
    /* margin-top: 0; */
    font-size: 40px;
    color: #fff;
}
#topbar p:last-child{
    margin-top: 0;
}


#profile-container{
    display: flex;
    height: 96vh;
    flex-direction: column;
    justify-content: center;
    float: right;
}
/* #profile-container div{
    position: relative;
}
#profile-container div::after{
    content: '';
    background-color: rgba(233, 4, 4, 0.5);
    position: absolute;
    left: 0px;
    display: inline-block;
    width: 290px;
    height: 387px;
} */
#topbar img{
    position: relative;
    width: 290px;
    box-shadow: -10px 10px var(--primary-color);
}

/* ABOUT SEC  */
#about-sec{
    overflow: auto;
}
#about-sec h1{
    display: inline-block;
    /* color: #ff9100; */
    color: var(--primary-color);
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    letter-spacing: 6px;
    font-style: italic;
}

#about-sec #abt-desc{
    float: right;
    font-size: 25px;
    color: gray;
}
#about-sec #abt-desc::after{
    content: ' about me';
    color: var(--primary-color);
}
#about p{
    line-height: 40px;
    font-size: 25px;
    color: gray;
}

/* CONTECT SECTION  */
#contect-sec{
    background-color: var(--primary-color);
    overflow: auto;
}
#C-details{
    display: inline-block;
    color: #fff;
}

#C-details h3{
    font-size: 25px;
    margin-bottom: 0;
}
#C-button{
    display: flex;
    align-items: center;
    height: 104px;
    float: right;
}
#C-button a{
    background-color: #fff;
    color: var(--primary-color);
    border: 2px solid #fff;
    padding: 10px 20px;
    font-size: 20px;
    text-decoration: none;
    transition: 0.6s;
}
#C-button a:hover{
    background-color: var(--primary-color);
    color: #fff;
}


/* SKILLS SEC */
#skill-heading{
    text-align: center;
    color: gray;
    font-size: 25px;
}
#skill-heading h1{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
#skill-heading h1::after{
    content: ' Skills';
    color: var(--primary-color);
}

#skills-sec{
    overflow: auto;
    padding-top: 10px;
    padding-bottom: 20px;
}


#skills-container{
    display: inline-block;
    margin: 0;
    width: 52%;
    padding-top: 7%;
    padding-bottom: 7%;
}

#skillbar h3{
    display: inline;
    font-size: 50px;
    color: #fff;
}
#skillbar div:first-child{
    display: inline-block;
    margin-left: 30px;
    margin-bottom: 10px;
}

#skillbar div:last-child{
    display: inline-block;
    width: 90%;
    height: 20px;
    background-color: #d7d7d7;
    margin-left: 30px;
}


#skillbar div span{
    font-size: 13px;
    text-align: right;
    background-color: var(--primary-color);
    display: inline-block;
    position: relative;
    top: -2px;
    height: 100%;
    box-sizing: border-box;
    padding-right: 10px;
    color: #fff;

}
#skill-mark{
    float: right;
    width: 40%;
    height: 79vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
#mark{
    font-size: 250px;
    color: var(--primary-color);
    display: inline-block;
}


/* PROJECTS SECTION  */
#project-heading{
    text-align: center;
}
#project-heading h1, #project-heading h3{
    margin: 0;
}
#project-heading h3{
    color: var(--primary-color);
}

#project-container{
    margin: 20px 0px;
    text-align: center;
}
.project-box{
    display: inline-block;
    width: 33%;
    text-align: center;
    position: relative;
}
.project-box a{
    position: relative;
}
.project-box img{
    width: 250px;
}
.project-box h4{
    margin: 0px;
    font-size: 20px;
    color: var(--primary-color);
}
.project-box p{
    margin-top: 5px;
    font-size: 15px;
}

.project-box a::after{
    content: 'click to Go...';
    position: absolute;
    width: 250px;
    top: -125px;
    right: 0px;
    height: 139px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(000, 000, 000, 0.5);
    color: #fff;
    backdrop-filter: blur(2px);
    transition: 0.3s ease-in-out;
    transform: scaleY(0);
    transform-origin: 50% 100%;
}

.project-box a:hover::after{
    transform: scaleY(1);
}





/* SOCIAL SECTION  */

#social-heading{
    text-align: center;
}
#social-heading h1{
    color: #444444;
}
#social-heading h1::after{
    content: ' Social';
    color: var(--primary-color);
}
#social-heading p{
    font-size: 20px;
    color: rgb(109, 104, 104);
}
#social-links{
    text-align: center;
    padding: 30px 0px;
}
#social-links ul li{
    display: inline-block;
    margin-right: 20px;
}

#social-links ul a i.fa {
    color: #999;
    font-size: 44px;
    border: 2px solid #999;
    height: 35px;
    width: 35px;
    border-radius: 50px;
    padding: 20px;
    transition: 0.1s;
}
#social-links ul li i:hover{
    border: 2px solid var(--primary-color);
    color: var(--primary-color);
    transform: scale(1.5);
}

/* FOOTER  */

/* copyright  */
#copyright{
    color: #444444;
    font-size: 15px;
    text-align: center;
    margin-bottom: 10px;
}
#copyright span::after{
    content: ' Nikhil 2022-2023';
    color: var(--primary-color);
}

/* MOBILE MENU  */
#mobile-menu{
    display: none;
}
#close-menu{
    display: none;
}


/* OTHER RESPONSIVE */
@media only screen  and (min-width: 768px) and (max-width: 832px){
    #topbar-details{
        /* height: 70vh; */
        height: auto;
        padding-top: 150px;
        width: 100%;
        align-items: center;
    }
    #profile-container{
        width: 100%;
        align-items: center;
    }
    #profile-container img{
        width: 350px;
    }
}


/* Tab Responsive */
@media only screen  and (max-width: 768px){

    #topbar-details h1{
        width: max-content;
        font-size: 45px;
    }
    #profile-container img{
        width: 200px;
    }
    #skills-container{
        width: 100%;
    }

    #skill-mark{
        width: 100%;
    }

    .project-box{
        width: 100%;
        margin: 20px 0px;
    }
    
    #social-links img{
        width: 95px;
    }
}


/* Mobile responsive */

@media only screen  and (max-width: 500px){
    nav{
        width: 35%;
        height: 100vh;
        left: -528px;
        transition: 0.3s ease-in-out;
        padding: 0 !important;
    }
    
    #close-menu{
        display: inline-block;
        margin-top: 5px;
        margin-left: 84px;
        color: #fff;
        border: 1px solid #fff;
        background: transparent;
    }
    nav ul li{
        margin-left: 7px;
        margin-right: 7px;
        display: block;
    }
    #open-more-li, #close-more-li{
        display: inline-block;
    }
    
    nav ul li a{
        font-size: 15px;
    }


    /* MOBILE MENU start  */
    #mobile-menu{
        display: inline-block;
        position: fixed;
        font-size: 25px;
        padding: 5px;
        top: 12px;
        left: 12px;
        color: #fff;
        background-color: transparent;
        border: 1px solid #fff;
        z-index: 1000000;
        background-color: rgba(000, 000, 000, 0.5);
        backdrop-filter: blur(2px);
    }
    /* \mobile menu end */

    #topbar{
        padding-bottom: 20px;
        height: auto;
        overflow-x: hidden;
    }
    #topbar-details{
        display: inline-block;
        width: 100%;
        height: auto;
        margin-top: 100px;
        text-align: center;
    }
    #topbar h1{
        font-size: 45px;
    }
    #topbar-details p{
        font-size: 31px;
    }
    
    #profile-container{
        display: inline-block;
        height: auto;
        margin-top: 20px;
        float: none;
        width: 100%;
        text-align: center;
    }
    #profile-container div img{
        width: 160px;
    }

    #about-sec{
        text-align: center;
    }
    #about-sec h1{
        width: 100%;
        margin: 0;
    }
    #about-sec p{
        margin-top: 0px;
        width: 100%;
        float: none;
    }

    #C-details{
        font-size: 15px;
        text-align: center
    }
    #C-button{
        text-align: center;
        float: none;
        height: auto;
        display: inline-block;
        width: 100%;
        padding: 40px 0px;
    }


    #skills-container{
        height: auto;
        width: 100%;
    }
    #skillbar{
        margin-top: 30px;
    }
    #skillbar h3{
        font-size: 25px;
    }

    #skillbar div:last-child{
        width: 80%;
    }

    #skill-mark{
        width: 100%;
    }

    .project-box{
        width: 100%;
        margin: 20px 0px;
    }
    #mark{
        font-size: 200px;
    }
    
    #social-links ul a{
        text-decoration: none;
    }
    #social-links ul li{
        margin-right: 10px;
    }
    #social-links ul a i.fa{
        font-size: 30px;
        height: 10px;
        display: flex;
        width: 10px;
        justify-content: center;
        align-items: center;
    }
    .social-icon{
        padding: 0;
    }

    #copyright{
        font-size: 19px;
    }
}